<body>
  <div class="login-body">
    <div class="left-section">
      <img class="brand-logo" src="./assets/img/logo_header.png" alt="">
      <div class="introduction">
        <h1>Shopbee</h1>
        <h6>Nền tảng thương mại điện tử <br> yêu thích ở Đông Nam Á &#38; Việt Nam</h6>
      </div>
    </div>

    <div class="right-section-login-board">
      <div class="login-text">
        Đăng nhập
      </div>
      <form>
        <label for="account"></label><br>
        <input type="text" id="account" name="account" placeholder="Email/Số điện thoại/Tên đăng nhập"><br>
        <label for="password"></label><br>
        <input type="password" id="password" name="password" placeholder="Mật khẩu">
      </form>
      {{!-- <div class="show_password_checkbox">
        <input class="my_checkbox" type="checkbox" onclick="myFunction()">
        Hiện mật khẩu
      </div> --}}
      <button class="login-button">
        ĐĂNG NHẬP
      </button>
      <h6 class="signup">Bạn mới biết đến Shopbee? <a class="signup_link" href="#" style="color: #F0B90B;">Đăng ký</a></h6>
    </div>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>