body
{
  overflow: hidden;
}
.body-container
{
  background-color: #F0B90B;
  position: fixed;
  height: 80vh;
  left: 0;
  right: 0;
  content: "";
  top: 60px;
}
.logo-brand img{
  width: calc(15vw + 15vh);
  margin-top: 35px;
  margin-left: 200px;
}
.introduction
{
  margin-left: 250px;
  font-size: 40px;
}