body {
  font-size: 2rem;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.thumbnail-grid img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail-grid img:hover {
  border: 1px solid #777;
}

.big-star {
  font-size: 3rem;
  color: gold;
}

.img-fluid {
  width: 80%;
  height: auto;
}


#sizeSelect,
#addressInput {
  height: 4.5rem;
  font-size: 1.5rem;
}

#decreaseQty,
#increaseQty {
  font-size: 2rem;
  text-decoration: bold;
}

#quantityInput {
  font-size: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}
#shopping-now {
  background-color: #F0B90B;
  color: black;
  border: none;
  width: 80%;
  font-size: 1.5rem;
  transition: background-color 0.15s;
  margin-left: -2vw;
}
#shopping-now:hover {
  background-color: #f8cc3b;
}
#add-to-cart {
  color: #F0B90B;
  border-color: #F0B90B;
  background-color: #FFF5F1;
  width: 80%;
  font-size: 1.5rem;
  transition: background-color 0.15s;

}
#add-to-cart:hover {
  background-color: white;
}
.form-buttons {
  margin-top: 10px;
}

.social-icon {
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.facebook-icon {
  background-color: #3b5998;
  color: #fff;
}

.twitter-icon {
  background-color: #00acee;
  color: #fff;
}

.pinterest-icon {
  background-color: #bd081c;
  color: #fff;
}

.messenger-icon {
  background-color: #00BFFF;
  color: #fff;
}